.card {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  display: grid;
  padding: 4.8rem 1rem;
  position: absolute;
  height: 50vh;
  width: 100%;
  bottom: 0;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.6rem;
}

.title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 2px;
  color: var(--dark);
  text-align: left;
}

.value {
  font-weight: 700;
  font-size: 2rem;
  color: var(--dark);
  text-align: right;
}

@media screen and (min-width: 576px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    align-content: flex-start;
    padding: 11.9rem 0 11.9rem 6.4rem;
  }

  .card-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .week {
    grid-column: 2 / 3;
  }

  .year {
    grid-row: 2;
    grid-column: 1 / 2;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.3rem;
    letter-spacing: 2.6px;
  }

  .value {
    font-size: 4rem;
  }
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

  .value {
    font-size: 5.6rem;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    padding: 7.4rem 0 7.4rem 75.1rem;
  }

  .card-wrapper {
    max-width: 1440px;
  }
}
