/* Quote Section */
.quote-wrapper {
  display: flex;
  max-width: 32.4rem;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3.1rem 2.5rem 0.8rem;
  text-align: left;
}

.quote {
  color: white;
}

.author {
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin: 0 2.5rem 22.7rem;
}

.refresh-icon {
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  margin: 0.2rem 0 0 1rem;
}

.refresh-icon:active {
  transform: rotate(50deg);
}

/* Clock Section */
.greeting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 2.5rem;
}

.clock-time__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0 2.5rem;
}

.time-zone {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.daytime-image {
  width: 2.3rem;
  height: 2.3rem;
  margin-right: 1.6rem;
}

.current-time {
  color: white;
  margin: 1.6rem 2rem 0 0;
}

.user-location {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: left;
  margin: 1.6rem 0 4.8rem 2.6rem;
}

.daytime {
  color: white;
}

/* Media Queries for Quote Section */
@media screen and (min-width: 576px) {
  .quote-wrapper {
    max-width: 57.3rem;
    margin: 8rem 13.1rem 0.8rem 6.4rem;
  }

  .author {
    font-size: 1.8rem;
    margin: 0 6.4rem 22.7rem;
  }

  .refresh-icon {
    margin: 0.4rem 13.1rem 0 1rem;
  }
}

@media screen and (min-width: 992px) {
  .quote-wrapper {
    margin: 8rem 0 0.8rem 16.5rem;
    max-width: 57.3rem;
  }

  .author {
    font-size: 1.8rem;
    margin: 0 6.4rem 22.7rem 16.5rem;
  }

  .refresh-icon {
    margin: 0.4rem 13.1rem 0 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .quote-wrapper {
    margin: 5.6rem 0 0.8rem 16.5rem;
    max-width: 57.3rem;
  }

  .author {
    font-size: 2.5rem;
    margin: 0 6.4rem 22.7rem 16.5rem;
  }

  .refresh-icon {
    width: 2rem;
    height: 2rem;
    margin: 0.7rem 0 0 1rem;
  }

  .greeting {
    margin: 0 0 0 16.5rem;
  }
}

/* Media queries for Container */
@media screen and (min-width: 576px) {
  .greeting {
    margin: 0 0 0 6.5rem;
  }

  .clock-time__wrapper {
    margin: 0 0 0 6.5rem;
  }

  .user-location__wrapper {
    margin: 0 0 0 4.5rem;
  }
}

@media screen and (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .greeting {
    margin: 0 0 0 16.5rem;
  }

  .clock-time__wrapper {
    margin: 0 0 0 16.5rem;
  }

  .user-location__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 14.5rem 0 14.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
