@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

/* Typography */
html {
  font-size: 62.5%;
}

#root {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-inter: "Inter", sans-serif;

  /* Primary Colors */
  --black: hsl(0, 0, 0%);
  --dark: hsl(0, 0, 19%);
  --white: hsl(0, 0, 100%);
}

body {
  font-family: var(--ff-inter);
  font-size: 1.8rem;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  text-decoration: none;
}
/* Lists */
li {
  list-style: none;
}
/* Images */
/* img {
  width: 100%;
} */
/* Headings */
h1 {
  font-weight: 700;
  font-size: 10rem;
  letter-spacing: -10px;
  margin: 0;
  white-space: nowrap;
}
h2 {
  font-weight: 700;
  font-size: 2rem;
}
h3 {
  font-weight: 400;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
}
h4 {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
p {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  line-height: 2.2rem;
}
/* Media Queries for Headings */
@media screen and (min-width: 576px) {
  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

@media screen and (min-width: 992px) {
  p {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1440px) {
  p {
    font-size: 2.5rem;
  }
}
